.profile{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4px;

    .text{
        margin-left: 10px;
        font-size: small;
        line-height: 4px;
    }
    img{
        height: 40px;
        width: 40px;
        border-radius: 100%;
    }
}