#tabs{
    .selectors{
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .selector{
        --radius: 10px;

        cursor: pointer;
        padding-right: 12px;
        padding-left: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
    }
    .selected{
        font-weight: bold;
        background-color: rgb(78, 72, 72);
        color: white;
        transition: .2s;

    }
    .tab_content{
        position: relative;
        --padding: 20px;
        padding: var(--padding);
        border: 2px solid black;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
        
        .buttons{
            position: absolute;
            bottom: var(--padding);
            right: var(--padding);
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            button{   
                cursor: pointer;
            }
        }
    }
}